{% extends 'layout/site.twig' %}
{% import "_includes/forms.twig" as forms %}


{% set fullPageForm = true %}
{% set controller = 'fieldController' %}
{% set title = "Fields" %}
{% block headerButton %}
    <a href="{{ 'admin/fields/new'|url }}" class="btn waves-effect waves-light red lighten-2">{{ "New Field"|t }}</a>
{% endblock %}


{% block sideNav %}
    <div>
        {% set groups = anu.fields.getAllGroups %}
        <div class="list-group list-group-entry-type">
            <button ng-repeat="group in groups" ng-click="changeGroup(group.id);" type="button" class="list-group-item">{[{ group.name }]}</button>
        </div>
        <a ng-click="newGroup();" href="" class="waves-effect waves-light black-text btn blue-grey lighten-5">{{ "New Group"|t }}</a>
    </div>
{% endblock %}

{% block pageContent %}

    {% set fields = anu.getFields.getAllFields() %}


    <div class="card">

        <div class="header">
            <h2>
                All Fields
            </h2>
            <ul class="header-dropdown m-r--5">
                <li class="dropdown">
                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        <i class="material-icons">more_vert</i>
                    </a>
                    <ul class="dropdown-menu pull-right">
                        <li><a href="javascript:void(0);" class=" waves-effect waves-block">Action</a></li>
                        <li><a href="javascript:void(0);" class=" waves-effect waves-block">Another action</a></li>
                        <li><a href="javascript:void(0);" class=" waves-effect waves-block">Something else here</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="body table-responsive">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Handle</th>
                    <th>Type</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="field in fields | filter: groupFilter">
                    <th scope="row">
                        <a href="{{ 'admin/fields/'|url }}{[{field.id}]}">
                            {[{ field.id }]}
                        </a>
                    </th>
                    <td>{[{ field.name }]}</td>
                    <td>{[{ field.handle }]}</td>
                    <td>{[{ field.type }]}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    {#{{ forms.textField({
        id: "loginName",
        name: "username",
        placeholder: "test",
        value: "test"
    }) }}#}


{% endblock %}