{% extends 'layout/site.twig' %}
{% import "_includes/forms.twig" as forms %}


{% set fullPageForm = true %}
{% set title = "Fields" %}
{% block headerButton %}
    <input type="hidden" name="action" value="fields/save-field">
    <input type="hidden" name="redirect" value="{{ "admin/fields"|url }}">
    <input type="hidden" name="fieldId" value="{{ field.id }}">
    <a href="" id="save" class="waves-effect waves-light btn red lighten-2">{{ "Save Field"|t }}</a>
{% endblock %}

{% block pageContent %}

    <div class="card">


        <div class="body">

            <h2 class="card-inside-title">New Field</h2>

            <div class="row clearfix">
                <div class="col-sm-12">

                    {{ forms.textField({
                        id: "name",
                        name: "name",
                        required: true,
                        value: field.name,
                        label: 'Name'|t,
                    }) }}
                    {{ forms.textField({
                        id: "handle",
                        name: "handle",
                        required: true,
                        value: field.handle,
                        label: 'Handle'|t,
                    }) }}
                    {{ forms.textField({
                        id: "instructions",
                        name: "instructions",
                        required: true,
                        value: field.instructions,
                        label: 'Instructions'|t,
                    }) }}


                    <div class="input-field select">
                        {% set groups = anu.fields.getAllGroups %}
                        <select name="groupId">
                            {% for group in groups %}
                                <option {% if field.groupId == group.id %}selected{% endif %} value="{{ group.id }}">{{ group.name }}</option>
                            {% endfor %}
                        </select>
                        <label>{{ "Group Id"|t }}</label>
                    </div>

                    <div class="input-field select">
                        <select name="type">
                            {% for fieldClass, fieldName in anu.getFields.getAllFieldNames() %}
                                <option
                                        {% if fieldClass == field.type %}selected{% endif %}
                                        value="{{ fieldClass }}">{{ fieldName }}
                                </option>
                            {% endfor %}
                        </select>
                        <label>{{ "Group Id"|t }}</label>
                    </div>
                    {#
                    {{ forms.select({
                        id: "type",
                        name: "type",
                        required: true,
                        options: [{label:1, value:1},{label:1, value:1}],
                        label: 'test'|t,
                    }) }}
                    #}


                </div>
            </div>
        </div>



    </div>



main
{% endblock %}