<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="icon" href="images/favicon.ico" type="image/ico" />

    <title>Anu</title>

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic-ext" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">

    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

    <!-- Bootstrap Core Css -->
    <link href="{{ assetUrl }}css/bootstrap.css" rel="stylesheet">
    <link href="{{ assetUrl }}css/materialize.css" rel="stylesheet">

    <!-- Animation Css -->
    <link href="{{ assetUrl }}/css/animate.css" rel="stylesheet" />

    <!-- Custom Css -->
    <link href="{{ assetUrl }}/css/style.css" rel="stylesheet">
    <link href="{{ assetUrl }}/css/anu.css" rel="stylesheet">

</head>

<body class="theme-red" ng-app="myApp">
    <!-- Page Loader -->
    <div class="page-loader-wrapper" style="display: none">
        <div class="loader">
            <div class="preloader">
                <div class="spinner-layer pl-red">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
            </div>
            <p>Please wait...</p>
        </div>
    </div>



    <!-- top navigation -->
    {% block menu %}
        {% include 'layout/partials/menu.twig' %}
    {% endblock %}
    <!-- /top navigation -->



        <!-- top navigation -->
        {% block nav %}
            {#{% include 'layout/partials/nav.twig' %}#}
        {% endblock %}
        <!-- /top navigation -->

        <!-- page content -->
        {% block content %}

        {% endblock %}
        <!-- /page content -->

        <!-- footer content -->
        {% block footer %}
            {% include 'layout/partials/footer.twig' %}
        {% endblock %}
        <!-- /footer content -->

    <!-- jQuery -->
    <script src="{{ assetUrl }}/js/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>


    <script src="{{ assetUrl }}/js/angular.js"></script>
    <script src="{{ assetUrl }}/js/controller/sortable.js"></script>
    <script src="{{ assetUrl }}/js/angular-animate.min.js"></script>
    <!-- Bootstrap -->
    <script src="{{ assetUrl }}/js/bootstrap.min.js"></script>


    <!-- Custom CP Scripts -->
    <script src="{{ assetUrl }}/js/Anu.js"></script>


    <!-- Slimscroll Plugin Js -->
    <script src="{{ assetUrl }}/js/jquery.slimscroll.js"></script>

    <!-- Custom Js -->
    <script src="{{ assetUrl }}/js/admin.js"></script>

    <script src="{{ assetUrl }}/js/materialize.js"></script>

    {% if controller is defined and controller != null %}
        <script src="{{ assetUrl }}/js/controller/{{ controller }}.js"></script>
    {% endif %}
    {{ renderFooter() }}
</body>
</html>
