{% extends 'layout/site.twig' %}
{% import "_includes/forms.twig" as forms %}


{% set fullPageForm = true %}
{% set controller = 'elementIndexController' %}
{% set title = "Entries"|t %}
{% block headerButton %}
    <a href="{{ ('admin/entries/'~section.handle~'/new')|url }}" class="btn waves-effect waves-light red lighten-2">{{ "New Entry"|t }}</a>
{% endblock %}

{% block sideNav %}
    <div>
        {% set sections = anu.getSections().getAllSections() %}
        {{ includeJsObject(sections, 'sections') }}
        <div class="list-group list-group-entry-type">
            <button ng-repeat="section in sections" ng-click="changeGroup(section.id);" type="button" class="list-group-item">{[{ section.name }]}</button>
        </div>
    </div>
{% endblock %}


{% block pageContent %}
    <div class="card">
        {% set entries = [] %}
        {% set sections = anu.getSections().getAllSections() %}
        {% if sections %}
            {% set section = sections|first %}
            {% set entries = anu.getElements().entries().section(section.handle).all() %}
            {{ entries[0].type }}
        {% endif %}
        {{ includeJsObject(entries, 'entries') }}

        <div class="header">
            <h2>
                {{ "Entries"|t }}
            </h2>
        </div>

        <div class="body table-responsive">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Title</th>
                    <th>Type</th>
                    <th>Section</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="entry in entries">
                    <th scope="row">
                        <a href="{[{ ('admin/entries/' + entry.section.handle + '/' + entry.id)|url }]}">
                            {[{ entry.id }]}
                        </a>
                    </th>
                    <td>{[{ entry.title }]}</td>
                    <td>{[{ entry.type.name }]}</td>
                    <td>{[{ entry.section.name }]}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}